<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />

    <title></title>
  </head>

  <body>
    
    {{ range . }}
    {{ .Id }}
    {{ .No }}
    {{ end }}
    
    <form hx-post="/tes">
      <input type="number" name="no" id="no"/>
      <button type="submit">Submit</button>
    </form>
    
    <script src="https://unpkg.com/htmx.org@1.9.5" integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO" crossorigin="anonymous"></script>
  </body>
</html>
